<ion-content [fullscreen]="true" [scrollY]="false" class="no-scroll">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mapa</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="fixed bottom-6 left-1/2 -translate-x-1/2 z-50">
    <button
      type="button"
      class="md-primary md-on-primary focus:outline-none font-bold rounded-2xl text-sm p-4 text-center inline-flex items-center shadow-xl"
      (click)="openDynamicIssuesModal()"
    >
      <lucide-angular
        class="me-1"
        [img]="chevronUpIcon"
        size="24"
      ></lucide-angular>
      <span>{{this.issueService.issueList().pagination.total}} Reportes</span>
    </button>
  </div>
  <app-map-view></app-map-view>
</ion-content>
