<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title class="font-semibold ion-margin-start">Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  @if (uiService.hasConnection()) {
  <ion-refresher slot="fixed" (ionRefresh)="refreshUserData($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  }
  <app-profile-detail [user]="this.userService.user()"></app-profile-detail>
</ion-content>
