<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-padding">
      <a
        class="md-on-surface focus:outline-none rounded-2xl ion-activatable relative overflow-hidden"
        routerLink="/tabs/profile"
      >
        <ion-ripple-effect></ion-ripple-effect>
        <lucide-angular [img]="backIcon" size="24"></lucide-angular>
      </a>
    </ion-buttons>
    <ion-title class="font-semibold">Editar perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="flex items-center justify-center">
    <div class="rounded-2xl md-surface-container p-8 w-full ion-margin">
      <span class="text-lg font-semibold">Tu nombre</span>
      <form class="max-w-sm mx-auto my-5" [formGroup]="userForm">
        <div class="mb-5">
          <ion-input
            label="Nombre"
            label-placement="floating"
            fill="outline"
            placeholder="Ingresa tu nombre"
            type="text"
            formControlName="name"
          ></ion-input>
        </div>
        <div>
          <ion-input
            label="Apellido"
            label-placement="floating"
            fill="outline"
            placeholder="Ingresa tu apellido"
            type="text"
            formControlName="last"
          ></ion-input>
        </div>
      </form>
    </div>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div class="ion-padding">
      <button
        type="submit"
        class="focus:outline-none font-medium rounded-2xl text-base p-4 text-center inline-flex items-center justify-center w-full ion-activatable relative overflow-hidden"
        [ngClass]="{
              'md-primary md-on-primary': userForm.valid || uiService.hasConnection(),
              'md-tertiary md-on-tertiary': !userForm.valid || !uiService.hasConnection()
            }"
        [disabled]="!userForm.valid && !uiService.hasConnection()"
        (click)="updateUser()"
      >
        @if (userForm.valid) {
        <ion-ripple-effect></ion-ripple-effect>
        }
        <lucide-angular
          class="me-1"
          [img]="completeEditProfileIcon"
          size="18"
        ></lucide-angular>
        Actualizar datos
      </button>
    </div>
  </ion-toolbar>
</ion-footer>
