<div class="flex flex-col md-surface-container-high rounded-2xl">
  <div
    class="flex items-center justify-start p-4 ion-activatable relative overflow-hidden"
    (click)="navigate('/edit-profile')"
  >
    <ion-ripple-effect></ion-ripple-effect>
    <div class="me-4">
      <lucide-angular
        [img]="editProfileIcon"
        size="22"
        class="category-icon md-on-surface"
      ></lucide-angular>
    </div>
    <div>
      <p class="text-md font-semibold md-on-surface">Editar perfil</p>
      <p class="text-sm font-medium md-on-surface-variant">
        Modifica tu nombre y datos básicos
      </p>
    </div>
  </div>

  <div
    class="flex items-center justify-start p-4 ion-activatable relative overflow-hidden"
    (click)="navigate('/user-issues')"
  >
    <ion-ripple-effect></ion-ripple-effect>
    <div class="me-4">
      <lucide-angular
        [img]="issuesIcon"
        size="22"
        class="category-icon md-on-surface"
      ></lucide-angular>
    </div>
    <div>
      <p class="text-md font-semibold md-on-surface">Tus reportes</p>
      <p class="text-sm font-medium md-on-surface-variant">
        Revisa todos los reportes que hiciste
      </p>
    </div>
  </div>

  <div
    class="flex items-center justify-start p-4 ion-activatable relative overflow-hidden"
    (click)="navigate('/highlights-given')"
  >
    <ion-ripple-effect></ion-ripple-effect>
    <div class="me-4">
      <lucide-angular
        [img]="highlightedIcon"
        size="22"
        class="category-icon md-on-surface"
      ></lucide-angular>
    </div>
    <div>
      <p class="text-md font-semibold md-on-surface">Reportes resaltados</p>
      <p class="text-sm font-medium md-on-surface-variant">
        Los reportes que resaltaste
      </p>
    </div>
  </div>

  <div
    class="flex items-center justify-start p-4 ion-activatable relative overflow-hidden"
    (click)="logout()"
  >
    <ion-ripple-effect></ion-ripple-effect>
    <div class="me-4">
      <lucide-angular
        [img]="logoutIcon"
        size="22"
        class="category-icon md-on-surface"
      ></lucide-angular>
    </div>
    <div>
      <p class="text-md font-semibold md-on-surface">Cerrar sesión</p>
      <p class="text-sm font-medium md-on-surface-variant">
        Salir de tu cuenta
      </p>
    </div>
  </div>
</div>
