<div class="flex flex-col bg-gray-100 rounded-2xl p-2">
  <div
    class="flex items-center justify-start m-2 mb-6"
    (click)="navigate('/edit-profile')"
  >
    <div class="me-4">
      <lucide-angular
        [img]="editProfileIcon"
        size="22"
        class="category-icon text-gray-900"
      ></lucide-angular>
    </div>
    <div>
      <p class="text-md font-medium text-gray-900">Editar perfil</p>
      <p class="text-sm text-gray-700">Modifica tu nombre y datos básicos</p>
    </div>
  </div>

  <div
    class="flex items-center justify-start m-2 mb-6"
    (click)="navigate('/user-issues')"
  >
    <div class="me-4">
      <lucide-angular
        [img]="issuesIcon"
        size="22"
        class="category-icon text-gray-900"
      ></lucide-angular>
    </div>
    <div>
      <p class="text-md font-medium text-gray-900">Tus reportes</p>
      <p class="text-sm text-gray-700">Revisa todos los reportes que hiciste</p>
    </div>
  </div>

  <div
    class="flex items-center justify-start m-2 mb-6"
    (click)="navigate('/highlights-given')"
  >
    <div class="me-4">
      <lucide-angular
        [img]="highlightedIcon"
        size="22"
        class="category-icon text-gray-900"
      ></lucide-angular>
    </div>
    <div>
      <p class="text-md font-medium text-gray-900">Reportes resaltados</p>
      <p class="text-sm text-gray-700">Los reportes que resaltaste</p>
    </div>
  </div>

  <div
    class="flex items-center justify-start m-2 mb-6"
    (click)="navigate('/change-password')"
  >
    <div class="me-4">
      <lucide-angular
        [img]="changePasswordIcon"
        size="22"
        class="category-icon text-gray-900"
      ></lucide-angular>
    </div>
    <div>
      <p class="text-md font-medium text-gray-900">Cambiar contraseña</p>
      <p class="text-sm text-gray-700">Actualiza tu contraseña de acceso</p>
    </div>
  </div>

  <div class="flex items-center justify-start m-2" (click)="logout()">
    <div class="me-4">
      <lucide-angular
        [img]="logoutIcon"
        size="22"
        class="category-icon text-gray-900"
      ></lucide-angular>
    </div>
    <div>
      <p class="text-md font-medium text-gray-900">Cerrar sesión</p>
      <p class="text-sm text-gray-700">Salir de tu cuenta</p>
    </div>
  </div>
</div>
