<ion-content [fullscreen]="true">
  <div
    class="auth-background"
    style="background-image: url(&quot;assets/img/auth-background.jpg&quot;)"
  >
    <div class="flex h-screen items-center justify-center">
      <div class="mx-4 rounded-2xl md-surface-container p-8 shadow">
        <p class="mb-4 text-center text-4xl font-bold md-on-container">
          Bienvenido a <span class="md-on-primary-container">EcoPulse</span>
        </p>
        <p class="mb-4 md-on-surface-variant text-center text-sm">
          Para iniciar sesión introduce tu correo electrónico y contraseña
        </p>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="mb-5">
            <ion-input
              label="Correo electrónico"
              label-placement="floating"
              fill="outline"
              placeholder="Ingresa tu correo electrónico"
              type="email"
              name="email"
              formControlName="email"
            ></ion-input>
          </div>
          <div class="mb-5">
            <ion-input
              label="Contraseña"
              label-placement="floating"
              fill="outline"
              placeholder="Ingresa tu contraseña"
              type="password"
              name="password"
              formControlName="password"
            ></ion-input>
          </div>
          <button
            type="submit"
            class="focus:outline-none font-medium rounded-3xl text-base px-6 py-3.5 text-center inline-flex items-center justify-center w-full diabled:bd-gray-300 ion-activatable relative overflow-hidden"
            [ngClass]="{
              'md-primary md-on-primary': loginForm.valid,
              'md-tertiary md-on-tertiary': !loginForm.valid
            }"
            [disabled]="!loginForm.valid"
          >
            @if (loginForm.valid) {
            <ion-ripple-effect></ion-ripple-effect>
            } Iniciar sesión
          </button>
        </form>
        <button
          class="md-on-primary-container focus:outline-none font-medium rounded-3xl text-base mt-4 px-6 py-3.5 text-center inline-flex items-center justify-center w-full ion-activatable relative overflow-hidden"
          (click)="forgotPassword()"
        >
          <ion-ripple-effect></ion-ripple-effect>
          ¿Olvidaste tu contraseña?
        </button>
        <div class="relative text-center my-4">
          <span class="md-surface-container text-sm px-4 relative z-10"
            >¿No tienes una cuenta?</span
          >
          <div class="absolute inset-0 flex items-center">
            <div class="w-full border-t border-gray-400"></div>
          </div>
        </div>
        <a
          type="button"
          class="md-secondary md-on-secondary focus:outline-none font-medium rounded-3xl text-base px-6 py-3.5 text-center inline-flex items-center justify-center w-full ion-activatable relative overflow-hidden"
          [routerLink]="['/signup']"
        >
          <ion-ripple-effect></ion-ripple-effect>
          Crear una cuenta
        </a>
      </div>
    </div>
  </div>
</ion-content>
