<ion-content [fullscreen]="true">
  <form
    class="max-w-sm mx-auto mt-5"
    [formGroup]="loginForm"
    (ngSubmit)="login()"
  >
    <div class="mb-5">
      <ion-input
        label="Correo electrónico"
        label-placement="floating"
        fill="outline"
        placeholder="Ingresa tu correo electrónico"
        type="email"
        name="email"
        formControlName="email"
      ></ion-input>
    </div>
    <div class="mb-5">
      <ion-input
        label="Contraseña"
        label-placement="floating"
        fill="outline"
        placeholder="Ingresa tu contraseña"
        type="password"
        name="password"
        formControlName="password"
      ></ion-input>
    </div>
    <button
      type="submit"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
    >
      Submit
    </button>
  </form>
  <a [routerLink]="['/signup']">Registrate</a>
</ion-content>
