<div class="grid grid-cols-3 gap-2 mt-6">
  <div class="text-center rounded-2xl md-surface p-5 counter">
    <span class="text-md md-on-surface font-medium">{{
      userService.counters().issues
    }}</span
    ><br />
    <p class="text-sm leading-none md-on-surface-variant">Reportes</p>
    <p class="text-sm md-on-surface-variant">realizados</p>
  </div>
  <div class="text-center rounded-2xl md-surface p-5 counter">
    <span class="text-md md-on-surface font-medium">{{
      userService.counters().highlightsGiven
    }}</span
    ><br />
    <p class="text-sm leading-none md-on-surface-variant">Reportes</p>
    <p class="text-sm md-on-surface-variant">resaltados</p>
  </div>
  <div class="text-center rounded-2xl md-surface p-5 counter">
    <span class="text-md md-on-surface font-medium">{{
      userService.counters().highlightsReceived
    }}</span
    ><br />
    <p class="text-sm leading-none md-on-surface-variant">Resaltes</p>
    <p class="text-sm md-on-surface-variant">recibidos</p>
  </div>
</div>
