@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.highlight-button.animate-pop {
  animation: pop 100ms ease-in-out;
}


.highlight-button {
  color: var(--md-sys-color-on-surface);
  stroke: var(--md-sys-color-on-surface);
}

.highlight-button.highlighted {
  color: var(--md-sys-color-on-surface) !important;
  stroke: var(--md-sys-color-on-surface) !important;
}