<div class="md-surface-container-high md-on-surface rounded-2xl mb-4 p-4">
  <div class="flex items-center justify-start">
    <div
      class="md-secondary-container md-on-secondary-container rounded-xl me-4 h-10 w-10 animate-pulse"
    ></div>
    <div class="flex-1">
      <div
        class="h-2 md-secondary-container md-on-secondary-container rounded-full mb-2.5 animate-pulse"
      ></div>
      <div
        class="h-2 md-secondary-container md-on-secondary-container rounded-full mb-2.5 animate-pulse"
      ></div>
      <div
        class="h-2 md-secondary-container md-on-secondary-container rounded-full animate-pulse"
      ></div>
    </div>
  </div>
</div>
