/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */

@import "@ionic/angular/css/core.css";
@import 'tailwindcss';

/* Basic CSS for apps built with Ionic */
/* @import "@ionic/angular/css/normalize.css"; */
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
/* @import "@ionic/angular/css/display.css"; */

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
/* @import "@ionic/angular/css/float-elements.css"; */
/* @import "@ionic/angular/css/text-alignment.css"; */
/* @import "@ionic/angular/css/text-transformation.css"; */
/* @import "@ionic/angular/css/flex-utils.css"; */

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
/* @import '@ionic/angular/css/palettes/dark.system.css'; */

/* Color theme */

@theme {
  --color-primary: var(--ion-color-primary);
  --color-primary-contrast: var(--ion-color-primary-contrast);
  --color-primary-shade: var(--ion-color-primary-shade);
  --color-primary-tint: var(--ion-color-primary-tint);

  --color-secondary: var(--ion-color-secondary);
  --color-secondary-contrast: var(--ion-color-secondary-contrast);
  --color-secondary-shade: var(--ion-color-secondary-shade);
  --color-secondary-tint: var(--ion-color-secondary-tint);

  --color-tertiary: var(--ion-color-tertiary);
  --color-tertiary-contrast: var(--ion-color-tertiary-contrast);
  --color-tertiary-shade: var(--ion-color-tertiary-shade);
  --color-tertiary-tint: var(--ion-color-tertiary-tint);

  --color-light: var(--ion-color-light);
  --color-light-contrast: var(--ion-color-light-contrast);
  --color-light-shade: var(--ion-color-light-shade);
  --color-light-tint: var(--ion-color-light-tint);

  --color-medium: var(--ion-color-medium);
  --color-medium-contrast: var(--ion-color-medium-contrast);
  --color-medium-shade: var(--ion-color-medium-shade);
  --color-medium-tint: var(--ion-color-medium-tint);

  --color-dark: var(--ion-color-dark);
  --color-dark-contrast: var(--ion-color-dark-contrast);
  --color-dark-shade: var(--ion-color-dark-shade);
  --color-dark-tint: var(--ion-color-dark-tint);

  --color-success: var(--ion-color-success);
  --color-success-contrast: var(--ion-color-success-contrast);
  --color-success-shade: var(--ion-color-success-shade);
  --color-success-tint: var(--ion-color-success-tint);

  --color-warning: var(--ion-color-warning);
  --color-warning-contrast: var(--ion-color-warning-contrast);
  --color-warning-shade: var(--ion-color-warning-shade);
  --color-warning-tint: var(--ion-color-warning-tint);

  --color-danger: var(--ion-color-danger);
  --color-danger-contrast: var(--ion-color-danger-contrast);
  --color-danger-shade: var(--ion-color-danger-shade);
  --color-danger-tint: var(--ion-color-danger-tint);
}

.issue-detail-modal {
  --width: 90%;
  --max-width: 400px;
  --height: auto;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.issue-detail-modal .issue-detail-card {
  border: 0 !important;
  border-color: transparent !important;
  margin-bottom: 0px !important;
}

ion-header {
  box-shadow: none !important;
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
}