@if (!userData) {
<h1>Cargando...</h1>
} @if (userData) {
<div class="flex flex-col items-center bg-gray-100 rounded-2xl p-2 mb-4">
  <div>
    <lucide-angular
      class="text-gray-600"
      [img]="userIcon"
      size="60"
    ></lucide-angular>
  </div>
  <span class="text-gray-900 text-lg"
    >{{ userData.name }} {{ userData.last }}</span
  >
  <div class="grid grid-cols-3 gap-2 mt-6 w-full">
    <div class="text-center rounded-2xl bg-white p-5 counter">
      <span class="text-md text-gray-900 font-medium">900</span><br />
      <span class="text-sm text-gray-500">Reportes</span>
    </div>
    <div class="text-center rounded-2xl bg-white p-5 counter">
      <span class="text-md text-gray-900 font-medium">900</span><br />
      <span class="text-sm text-gray-500">Resaltados</span>
    </div>
    <div class="text-center rounded-2xl bg-white p-5 counter">
      <span class="text-md text-gray-900 font-medium">900</span><br />
      <span class="text-sm text-gray-500">Resaltes</span>
    </div>
  </div>
</div>

<app-profile-options></app-profile-options>

}
