@if (!userData) {
<app-profile-detail-loading></app-profile-detail-loading>
} @if (userData) {
<div
  class="flex flex-col items-center md-surface-container-high rounded-2xl p-2 mb-4"
>
  <div>
    <lucide-angular
      class="md-on-surface-variant"
      [img]="userIcon"
      size="60"
    ></lucide-angular>
  </div>
  <span class="md-on-surface text-lg"
    >{{ userData.name }} {{ userData.last }}</span
  >
  <app-profile-counters class="w-full"></app-profile-counters>
</div>

<app-profile-options></app-profile-options>

}
