<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-padding">
      <a
        class="md-on-surface focus:outline-none rounded-2xl ion-activatable relative overflow-hidden"
        routerLink="/tabs/profile"
      >
        <ion-ripple-effect></ion-ripple-effect>
        <lucide-angular [img]="backIcon" size="24"></lucide-angular>
      </a>
    </ion-buttons>
    <ion-title class="font-semibold">Reportes resaltados</ion-title>
    <ion-buttons slot="end" class="ion-padding">
      <button
        type="button"
        class="md-on-surface focus:outline-none rounded-2xl ion-activatable relative overflow-hidden"
        id="open-order-action-sheet-highlights-given"
      >
        <ion-ripple-effect></ion-ripple-effect>
        <lucide-angular [img]="orderIcon" size="24"></lucide-angular>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="refreshUserIssues($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="mb-4">
    <app-status-filter
      (filterSelected)="onFilterSelected($event)"
    ></app-status-filter>
  </div>
  <app-issue-list [issueList]="this.userService.issueList()"></app-issue-list>

  @if (canGetMore()) {
  <ion-infinite-scroll (ionInfinite)="getMoreIssues($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  }

  <ion-action-sheet
    trigger="open-order-action-sheet-highlights-given"
    header="Ordenar por"
    class="action-sheet"
    [buttons]="actionSheetButtons"
    (didDismiss)="orderIssues($event)"
  ></ion-action-sheet>
</ion-content>
