<ion-content class="ion-padding md-surface md-on-surface">
  <div
    class="fixed flex justify-between space-x-4 bottom-6 left-1/2 -translate-x-1/2 z-50"
  >
    <button
      type="button"
      class="md-primary md-on-primary focus:outline-none font-medium rounded-3xl text-sm px-5 py-2.5 text-center inline-flex items-center"
      (click)="close()"
    >
      <lucide-angular class="me-0.5" [img]="mapIcon" size="18"></lucide-angular>
      Mapa
    </button>
  </div>
  <app-issue-list [issueList]="issueService.issueList()"></app-issue-list>
  <ion-infinite-scroll (ionInfinite)="getIssues($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
