<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-padding">
      <a
        class="md-on-surface focus:outline-none rounded-2xl ion-activatable relative overflow-hidden"
        routerLink="/tabs/profile"
      >
        <ion-ripple-effect></ion-ripple-effect>
        <lucide-angular [img]="backIcon" size="24"></lucide-angular>
      </a>
    </ion-buttons>
    <ion-title class="font-semibold">Reportes guardados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  @if (offlineService.issues().length) { @for (issue of offlineService.issues();
  track issue.id) {
  <app-offline-issue-detail [issue]="issue"></app-offline-issue-detail>
  } } @else {
  <app-alert
    [icon]="emptyIcon"
    [title]="'Sin reportes'"
    [content]="'Todavía no hay reportes para mostrar.'"
  ></app-alert>
  }
</ion-content>
