@if (!uiService.hasConnection()) {
<div
  class="min-h-screen flex items-center justify-center ion-padding-horizontal"
>
  <app-alert
    [icon]="emptyIcon"
    [title]="'No se puede cargar el mapa'"
    [content]="
      'Conéctate a internet para visualizar el mapa. Tu ubicación seguirá obteniéndose automáticamente.'
    "
  ></app-alert>
</div>
}
<div class="relative w-full h-full">
  @if (isLoading()) {
  <ion-progress-bar
    type="indeterminate"
    class="absolute top-0 left-0 right-0 z-50"
  ></ion-progress-bar>
  }

  <div class="map w-full h-full" #map></div>
</div>
