@if (!uiService.hasConnection()) {
<div
  class="min-h-screen flex items-center justify-center ion-padding-horizontal"
>
  <app-alert
    [icon]="emptyIcon"
    [title]="'No se puede cargar el mapa'"
    [content]="
      'Conéctate a internet para visualizar el mapa. Tu ubicación seguirá obteniéndose automáticamente.'
    "
  ></app-alert>
</div>
} @else if (!locationService.hasLocationPermission()) {
<div
  class="min-h-screen flex items-center justify-center ion-padding-horizontal"
>
  <app-alert
    [icon]="emptyIcon"
    [title]="'No se puede cargar el mapa'"
    [content]="
      'Debes aceptar los permisos de ubicación para poder visualizar el mapa.'
    "
  >
    <div class="flex flex-col space-y-3 w-full" permission>
      <button
        class="md-primary md-on-primary focus:outline-none font-bold rounded-2xl text-sm p-4 flex justify-center items-center ion-activatable relative overflow-hidden w-full"
        (click)="locationService.requestPermission()"
      >
        <ion-ripple-effect></ion-ripple-effect>
        Permitir ubicación
      </button>

      <button
        class="md-secondary-container md-on-secondary-container focus:outline-none font-bold rounded-2xl text-sm p-4 flex justify-center items-center ion-activatable relative overflow-hidden w-full"
        (click)="gotoSettings()"
      >
        <ion-ripple-effect></ion-ripple-effect>
        Abrir configuración
      </button>
    </div>
  </app-alert>
</div>
}
<div class="relative w-full h-full">
  @if (isLoading()) {
  <ion-progress-bar
    type="indeterminate"
    class="absolute top-0 left-0 right-0 z-50"
  ></ion-progress-bar>
  }

  <div class="map w-full h-full" #map></div>
</div>
