@if (isVisible) {
<div
  class="banner fixed bottom-20 left-0 right-0 z-10 rounded-2xl py-4 px-5 md-surface-container md-on-surface-container"
  [class.banner-closing]="isClosing"
>
  <div class="flex items-center justify-between">
    <div class="flex-1">
      <p class="font-semibold">{{ title() }}</p>

      <p class="text-sm font-medium opacity-80">{{ content() }}</p>
    </div>

    <button
      type="button"
      class="md-primary md-on-primary focus:outline-none font-medium rounded-2xl text-sm p-4 text-center inline-flex items-center ion-activatable relative overflow-hidden"
      (click)="hide()"
    >
      <ion-ripple-effect></ion-ripple-effect>
      Entendido
    </button>
  </div>
</div>
}
