
ion-tab-bar {
  --background: var(--md-sys-color-surface-container);
  --color-selected: var(--md-sys-color-secondary);
  --color: var(--md-sys-color-on-surface-variant);
}

ion-tab-button {
  ion-icon {
    padding: 4px 16px;
  }
}

ion-tab-button.tab-selected {
  ion-icon {
    padding: 4px 16px;
    border-radius: 16px;
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
  }
}