<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-padding">
      <a
        class="md-on-surface focus:outline-none rounded-2xl ion-activatable relative overflow-hidden"
        [routerLink]="pageFrom"
      >
        <ion-ripple-effect></ion-ripple-effect>
        <lucide-angular [img]="backIcon" size="24"></lucide-angular>
      </a>
    </ion-buttons>
    <ion-title class="font-semibold">Notificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="refreshNotifications($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Notificaciones</ion-title>
    </ion-toolbar>
  </ion-header>

  @if (notificationService.isLoading()) {
  <app-notification-loading></app-notification-loading>
  <app-notification-loading></app-notification-loading>
  <app-notification-loading></app-notification-loading>
  <app-notification-loading></app-notification-loading>
  <app-notification-loading></app-notification-loading>
  } @else if (!uiService.hasConnection() &&
  !notificationService.notificationList().data.length) {
  <app-alert
    [icon]="noConnectionIcon"
    [title]="'Sin conexión'"
    [content]="'Conéctate a internet para cargar los reportes.'"
  ></app-alert>
  } @else if (!notificationService.notificationList().data.length) {
  <app-alert
    [icon]="emptyIcon"
    [title]="'Sin reportes'"
    [content]="'Todavía no hay reportes para mostrar.'"
  ></app-alert>
  } @else { @for (notification of notificationService.notificationList().data;
  track notification.id) {
  <app-notification-item [notification]="notification"></app-notification-item>
  }
  <div class="flex flex-col items-center justify-center">
    @if (isLoading()) {
    <ion-spinner class="mb-4"></ion-spinner>
    }
    <button
      type="button"
      class="md-primary md-on-primary focus:outline-none font-bold rounded-2xl text-sm p-4 text-center inline-flex items-center ion-activatable relative overflow-hidden more-button"
      (click)="getMoreNotifications()"
      [disabled]="!canGetMore()"
    >
      @if (canGetMore()) {
      <ion-ripple-effect></ion-ripple-effect>
      }
      <lucide-angular class="me-1" [img]="moreIcon" size="24"></lucide-angular>
      <span> Mostrar más </span>
    </button>
  </div>
  }
</ion-content>
