.category-item {
  background-color: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-on-secondary-container);

  svg.category-icon {
    stroke: var(--md-sys-color-on-secondary-container);
  }
  
  .category-icon svg {
    width: 22px;
  }

  &.selected {
    background-color: var(--md-sys-color-secondary);
    color: var(--md-sys-color-on-secondary);
    border-radius: 16px;
    
    svg.category-icon {
      stroke: var(--md-sys-color-on-secondary);
    }
  }
}
