<ion-content [fullscreen]="true">
  <form
    class="max-w-sm mx-auto mt-5"
    [formGroup]="signupForm"
    (ngSubmit)="signup()"
  >
    <div class="mb-5">
      <ion-input
        label="Nombre"
        label-placement="floating"
        fill="outline"
        placeholder="Ingresa tu nombre"
        type="text"
        name="name"
        formControlName="name"
      ></ion-input>
    </div>
    <div class="mb-5">
      <ion-input
        label="Apellido"
        label-placement="floating"
        fill="outline"
        placeholder="Ingresa tu apellido"
        type="text"
        name="last"
        formControlName="last"
      ></ion-input>
    </div>
    <div class="mb-5">
      <ion-input
        label="Correo electrónico"
        label-placement="floating"
        fill="outline"
        placeholder="Ingresa tu correo electrónico"
        type="email"
        name="email"
        formControlName="email"
      ></ion-input>
    </div>
    <div class="mb-5">
      <ion-input
        label="Contraseña"
        label-placement="floating"
        fill="outline"
        placeholder="Ingresa tu contraseña"
        type="password"
        name="password"
        formControlName="password"
      ></ion-input>
    </div>
    <button
      type="submit"
      class="md-primary md-on-primary focus:outline-none font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
    >
      Submit
    </button>
  </form>
  <a [routerLink]="['/login']">Inicia sesión</a>
</ion-content>
